
:root{
  /* кольори */
  --input-line-color:#EEEFE6;
  --filler-line-color: #DFDFD5;
  --font-color: #3C452D;
  --gblue: #f5f6fa; 
  --background:#FDFBF3;
  --gray:  #7878781d; 
  --green: #3E91DE;
  --expl: #bc845e;
  --light: #3c3c3c78;
  --dark: #3d434312;
  --border-color: #DFDFD5;
  --hcolor:#db9925dd;
  --menu-color:#F1EFE3;
  /* іконки */
  --mass-color:#83B5B2;
  --expl-color:#A9D291;
  --dist-color:#A1AF96;
  /* відступи */
  --top-offset:  calc(1*var(--h1)); 
  --arrow-size: calc(var(--option-font) + 14px);
  --options-width: calc(100% - 30px);
  --logo-size: calc(3.5*var(--h1));
  --spec-top: calc(.7*var(--h1));
  --image-width: calc(1.9*var(--h1));
  /* розмір шрифтів */
  --spec: calc(.6*var(--h1));  
  --option-font: calc(.8*var(--h1)); 
  --select-font: calc(.6*var(--h1));
  --th: calc(.6*var(--h1));
  --td: calc(.51*var(--h1));
  --h1: 20px;  
  /* радіус граней*/
  --radius: 3mm;
 }
/* upd */

/*  */
@media only screen and (max-width: 319px) {
  :root {
    --h1: 19px; 
  }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
  :root {
    --h1: 21px; 
  }
}
@media only screen and (min-width: 376px) and (max-width: 480px) {
  :root {
    --h1: 22px;    
  }    
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --h1: 23px; 
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --h1: 23px; 
  }
}
@media only screen and (min-width: 1025px) {
  :root {
    --h1: 24px; 
  }    
}  
.en { 
      display: none;
    }
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#loader-animation {
  width: 100px; 
  height: 100px;
}
.name img{
  position: absolute;
  width: var(--h1);
  height: var(--h1);
  left: 10px;
}
form{
   border-radius: 5mm;   
   background-color: var(--input-line-color);
   padding: 10px;
   margin: var(--h1) 0;
}
.caution {
    margin: 5px 0 0 0;    
    display: flex;    
    flex: 1;
    font-size: 9px;    
 }
.caution p {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   align-self: stretch;
   padding: 1px 5px;
}
.option-button {
   flex: 1;
   color: var(--light);
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   align-self: stretch;
   overflow: hidden;
   transition: background 400ms;  
   background-color: var(--input-line-color);      
   border: 1px solid var(--background);       
   border-radius: 5mm;
   padding: 5px;
   text-align: center;      
   text-decoration: none;      
   font-size: var(--td);
   margin: 0;
   cursor: pointer;
    }
.option-button:nth-child(1){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    }
.option-button:nth-child(2){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    }
.option-button.selected {
    background-color: #E6A477;
    color: var(--font-color);
    }
.option-button.selected p:nth-child(1):before {
    font-family: 'Material Icons';
    content: "check";
    margin-right: 5px;          
    }  
.method{
    font-family: "arsenal";
    width: 100%;
    margin-bottom: var(--h1);
    text-align: center;
    display:flex;       
    align-items: stretch;
    }
    .method p{
      margin: 4px 0;             
    }
    .method p:nth-child(2){
        font-size: 10px;
    }
span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}       
td.top-right {
  background-image: url("../img/top_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
td.bottom-right {
  background-image: url("../img/bottom_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;    
}
tr td:nth-of-type(1) {
  font-weight: bold; 
}
tr:nth-child(2) td,
tr:nth-child(3) td,
tr:nth-child(4) td,
tr:nth-child(5) td {
  font-style: italic;
  font-weight: normal;
  border-bottom: 1px solid var(--gray);
}
tr:nth-child(1) td,
tr:nth-child(5) td {
  border-bottom: 1px solid var(--gray);
}

/* upd_end */
body {
  display: flex;
  flex-direction: column;  
  background-color: var(--background );
  font-family: "arsenal", monospace;  
  color: var(--font-color);
}
main {  
  position: relative;
  padding-top: var(--top-offset);  
  max-width: 100%;
} 
.det{
  border: 1px solid var(--input-line-color);
  border-radius: 20px;
  padding: 7px;
  font-size: var(--th);
  justify-content: center;
  align-content: center;
  background-color: var(--menu-color);
}
/*ім'я програми*/
header {          
   position: fixed;    
   display: flex; 
   top: 0;
   left:0;    
   width: 100%;   
   transition: transform 0.4s ease;   
   z-index: 9;
}
.material-symbols-outlined {
  position: absolute;
  display: flex;
  left: 10px;
}
.material-symbols-outlined img{
  width: var(--h1);
}
.name {
  font-family: "arsenal-bold";     
  background: linear-gradient(to top, rgba(249, 250, 245, 0.5), rgba(249, 250, 245, 1)); 
  width: 100%;
  position: absolute;
  text-align: center;
  text-transform: capitalize;        
  padding: .6em 0 .6em 0;
}
.name a {       
  font-size: var(--h1); 
  padding-top: 8px;
 }
.spec {
  display: flex; 
  font-size: var(--spec); 
  padding-top: var(--spec-top);
  justify-content: center;
}
.expand-menu img {
  width: var(--image-width);
  height: var(--image-width);
  object-fit: contain;
  z-index: 5;
}
/* ВР */  
.expl-lines {
  width: 100%;
  position: relative;
  padding-left: 10px;
}
.select-expl {
  background-color: var(--input-line-color);
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 2px solid var(--border-color);
  box-sizing: border-box;
  border-top-right-radius:var(--radius);
  border-top-left-radius: var(--radius);
  font-size: var(--option-font); 
  padding: 10px;
  z-index: 8;
}
.select-expl::before {
  content: "";
  background: url("../img/expand-more-dark.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(0, -50%);
  transition: transform 0.3s ease;  
  height: var(--arrow-size);
  width: var(--arrow-size);  
}
.select-expl.open::before {
  transform: translate(0, -50%) rotate(180deg);  
  background-size: contain;  
}
.select-expl:empty::after {
  content: "Тротил";
  color: rgba(0, 0, 0, 0.5);
}  
.options {
  display: flex;
  position: absolute;
  background-color: var(--input-line-color);
  transform: translateZ(0);
  max-height: 0;
  width: var(--options-width);
  top: 70%;
  border-radius: var(--radius);
  font-size: var(--select-font);   
  justify-content: space-between;
  flex-direction: column; 
  overflow-y: scroll; 
  scroll-behavior: smooth;  
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 8;
} 
.open {
  outline: 2px solid var(--filler-color);
  }
/* WebKit browsers (Chrome/Safari) */
.options::-webkit-scrollbar {
  width: 8px; 
  }
.options::-webkit-scrollbar-thumb {
  background-color: var(--light); 
  border-radius: 6px; 
  }
.options::-webkit-scrollbar-track {
  background-color: var(--filler-color);
  }
/* Firefox */
.options {
  scrollbar-width: thin; 
  }
.options::-moz-scrollbar-thumb {
  background-color: var(--dark); 
  border-radius: 6px; 
  }
.options::-moz-scrollbar-track {
  background-color: var(--filler-color);
  }
.option {    
   position: relative;
   padding: 8px;
   font-size: var(--select-font);
   text-align: left;
} 
.options .option:hover {
  background: rgba(0, 0, 0, 0.08);
}
.search-box {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 4px;
}
#search {
  display: block;
  background-color: var(--filler-line-color);
  width: 100%;
  box-sizing: border-box;
  border-radius: 1.5mm;
  border: none;
  font-size: var(--select-font);
  background-image: url("../img/search_black_24dp.svg");
  background-repeat: no-repeat;
  background-position: 8px center; 
  background-size: 20px;
  padding: 8px;
  padding-left: 35px;
}
#search::-webkit-search-cancel-button { 
 display: none;
 }
#search:hover{
  outline: 1px solid #ccc;
  }
/*--маса --*/
.mass-box, .pressure-box, .expl-box {
  display: flex;  
  margin: var(--h1) 0 ;
  } 
  /* upd */
.pressure-box{
  margin-bottom: 0;
}
.icon-mass, .icon-dist, .icon-expl {   
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 1px #D0C898;
  align-items: center;
  border-radius: 3mm;
  padding: 3px;
  }
.icon-mass{
  background-color: var(--mass-color);
}
.icon-dist{
  background-color: var(--dist-color); 
}
.icon-expl{
  background-color: var(--expl-color);
}
.icon-mass img, .icon-dist img, .icon-expl img {
  width: var(--image-width);
  height: var(--image-width);
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.3s ease-in-out; 
  z-index: 6;
  }
.icon-expl img{
  z-index: 6;
 }   
.mass-lines, .pressure-lines, .expl-lines{
  width: 100%;
  position: relative;
  padding: 0 30px 0 4px;
  } 
#massInput, #Distance {
  width: 100%;
  background-color: var(--input-line-color);
  border: 2px solid var(--border-color);
  box-sizing: border-box;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  font-size: var(--option-font);
  font-family: "arsenal", monospace;
  color: var(--font-color);
  padding: 10px;
}  
#massInput:focus, #Distance:focus{
  outline:none;
}
#massInput::placeholder, #Distance::placeholder, #search::placeholder{
   font-family: "arsenal";
}
.label-mass, .label-pressure {
  font-size: var(--td);
  background-color: var(--input-line-color);
  font-family: "arsenal-bold", monospace;
  padding: 1px 5px;
  position: absolute;
  top: 0; 
  left: 25px;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out; 
  opacity: 0; 
  z-index: -1;
 }
.label-mass{
  color: var(--mass-color);    
}
.label-pressure{
  color: var(--dist-color); 
}
.label-mass.active, .label-pressure.active { 
  opacity: 1;
  top: -.7em;
  z-index: 1;  
  background-color: var(--input-line-color);
}
#TNTres, #Pressure, .equivalent-value{ 
  width: 100%;
  display: inline-block;  
  font-size: var(--select-font);  
  font-weight:600;
  padding-left: 7px;
  align-items: center;
}  
.filler-mass, .filler-pressure, .filler-expl{
  border-radius: 0 0 var(--radius) var(--radius);
  color: var(--light);
  background-color: var(--filler-line-color);     
  box-shadow: 0 1px 1px #D0C898;
  padding: 4px;
}  
.filler-pressure{
  color: var(--font-color);
  align-content: flex;
  position: relative;
}
 /* таблиці */
table {
  width:100%;
  table-layout: fixed;
}
.tbl-header {
  padding-top: .4em;
  background-color: var(--filler-line-color);
  border-radius: 5mm 5mm 0 0;
}
.tbl-content { 
  overflow-x:auto;
  background-color: var(--input-line-color);
}
th {
  padding: 12px;
  text-align: left;
  font-size: var(--th);
  text-transform: uppercase;
  font-family: "Dots";
}
td {
  padding: 12px;
  text-align: left;
  vertical-align:middle;
  font-size: var(--td);
  border-bottom: 1px solid var(--filler-line-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
/*посилання*/
footer {   
  position: fixed;
  box-shadow: 0 -1px 2px #D0C898;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--filler-line-color);
  z-index:7;
}
.footer-content {  
  display: flex; 
} 
.link-icon1, .link-icon2{  
  width: 50%;
  border-radius: 20px;
}
.link-icon1:hover, .link-icon2:hover {
 background-color: var(--light);
}
.link-icon2 a, .link-icon1 a {  
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: var(--font-color);   
} 
.link {
  line-height: 1em;
  display: block;
}
.first {
  padding: 4px;
  margin: auto;
  font-size: var(--th);       
}
.second {
  font-size: var(--td);
  color: var(--light);
} 
.link-icon1 img, .link-icon2 img {
  margin: auto 10px;
  width: var(--image-width);
  height: var(--image-width);   
}
/*  */
.dimming-options{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  display: none; 
  width: 100%;
  height: 100%;  
  transition: background-color 0.3s ease;
  z-index: 7;    
}
.dimming-menu{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  display: none; 
  width: 100%;
  height: 100%;  
  transition: background-color 0.3s ease;
  z-index: 9;    
}
.dim-active{
  display: flex;
  background-color: #6666664d;  
}
.dim-overflow{
 overflow: hidden;
}
/* меню */
.side-menu {
  position: fixed;
  top: 0;
  left: -50%; 
  width: 50%; 
  height: 100%;  
  background-color:var(--menu-color); 
  transition: left 0.3s ease; 
  z-index: 10;  
}
.side-menu ul {
  list-style: none;
  padding: 0; 
}
.side-menu li {
  display: flex;
  padding: 10px;
  align-content: center; 
  align-items: center;
}
.side-menu li img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}
.side-menu li a {
  color: var(--font-color); 
  font-size: var(--th);
  text-decoration: none;
}
#mainContent {
  margin-left: 0; 
}
.menu-open {
  left: 0; 
}
.menu-header {  
  position: relative;
  width: 100%;
  height: auto;
  align-content: center;
  align-items: center;
  background-color: #C8C8B8;
}
.menu-header #logo{
  padding: 40px 0 0 20px;
  width: 100px;
  height: 100px ;
}
.menu-header #close {    
  position: absolute;
  top:20px;
  right:20px;
  height:1.5em;
  width:1.5em;
}
.menu-header p {
  font-size: var(--td);
  color: black;
  font-family: "arsenal";
  font-weight:bold;
  padding: 5px;
  }  
.highlight{
  padding: 2px;
  background-color: #ffc8804e;
  font-weight: bold;
}
#UnitSelectorIcon {
  position: absolute;
  right: 10px;
  top: 3px;
  width: 20px;
  height: 20px;    
}
#pressure-unit-selector {
  position: absolute;
  right: 0;
  display: flex;
  background-color: var(--background);
  border-radius: var(--radius);
  box-shadow: 0 1px 2px #D0C898;
  padding: 10px;
  align-items: center;
  z-index: 2;
  display: none;
}
.radio-group {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.radio-option {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}
.radio-option label {
  margin-left: 8px;
  font-size: var(--select-font);
  color: var(--font-color);
}
.radio-option:hover {
  background-color: #f5f5f5;
}
.radio-option input[type="radio"]:checked + label {
  color: #2196f3;
}
.radio-option input[type="radio"]:checked {
  position: relative;
}
.radio-option input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px; 
  border-radius: 50%;
  background-color: var(--dist-color);
  border: 3px solid var(--background); 
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

  
